@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;800&display=swap');

.seccion-product {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;

}
.main-content {
    width: 98%;
    padding: 30px;
    background-color: #f8f8f8;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.main-content div {
    width: 95%;
}


/* Media queries */
@media screen and (max-width: 500px) {

    .main-content {
        flex-direction: column;
    }
}


