.seccion-inicial {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-logo {
    width: 90%;
    padding: 20px 5%;
    top: 50px;
    display: flex;
    justify-content: space-between;
    
  }
  
  
.main-content-box-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.main-content-box-title h1 {
    width: 80%;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 100%;
    text-transform: capitalize;
    color: #000000;
   

}

.main-content-box-title p {
    width: 100%;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    /* font-size: 24px; */
    line-height: 100%;
    text-transform: capitalize;
    color: #4D5254;


}

.main-content-box-steps {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    padding: 0 2.5%;
    align-items: center;
    margin: auto;
}

.main-content-box-steps p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-size: 16px;
}

.main-content-box-steps p:nth-child(3) {
    font-weight: 800;
}

/* Media queries */
@media screen and (max-width: 500px) {
    .main-content-box-steps p {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: small;
    }
    .main-content-box-steps p span {
        display: none;
    }
}