.product-container-right .title-product {
    font-family: Manrope;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 2.8rem */
    text-transform: capitalize;   
  font-family: Manrope;
  }
  .product-container-right .title-product span {
    color: #2C7EF8;
  }